.main{
    &_layout{
        width: 100%;
        margin: 0 auto;
        background: linear-gradient( -25deg, #2A2A2A, #2A2A2A 50%,#7762D2 50% );
    }
    &_arrow{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        animation: arrow-animation 2.5s ease-in-out infinite;
        -webkit-animation: arrow-animation 2.5s ease-in-out infinite;
}
}
@keyframes arrow-animation {
    0% {
        transform: translate(20px, 25%);
    }
    25% {
        transform: translate(20px, -25%);
    }    
    50% {
        transform: translate(20px, 25%);
    }
    75% {
        transform: translate(20px, -25%);
    }
    100% {
        transform: translate(20px, 25%);
    }    
}
.dsBackground{
    background-image: url("./../../assets//welcome/dsBackground.svg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 600px;
    //animation: bg-animation 25s ease-in-out infinite;
    animation: bg-animation 15s ease-in-out infinite;
    -webkit-animation: bg-animation 15s ease-in-out infinite;
}

@keyframes bg-animation {
    0% {
        transform: translate(10px, 2%);
    }
    25% {
        transform: translate(10px, -2%);
    }    
    50% {
        transform: translate(10px, 2%);
    }
    75% {
        transform: translate(10px, -2%);
    }
    100% {
        transform: translate(10px, 2%);
    }    
}
.dsBg{
    &_text{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        &_welcome{
            font-size: 40px;
        }
        &_description{
            font-size: 36px;
            width: 829px;
            text-align: center;
            & span{
                color: #7762D2;
                font-family: Work Sans-700;
                font-weight: 700;
            }
        }
        &_btn{
            width: 209px;
            height: 51px;
            background: #7762D2;
            border-radius: 5px;
            color: #fff;
            border: none;
            font-size: 24px;
            margin-top: 91px;
            cursor: pointer;
            text-decoration: none;
            outline: none !important;
            transition: all .6s;
            &:hover{
                background-color: #36393F;
                color: #7762D2;
                border: 1px solid #7762D2;
            }
        }
        &_pss{
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 18px;
            margin-bottom: 17px;
            margin-left: 140px;
        }
    }
}