.main{
    &_layout{
        width: 100%;
        margin: 0 auto;
        background: linear-gradient( -25deg, #2A2A2A, #2A2A2A 50%,#7762D2 50% );
        font-family: Work Sans;
    }
    &_arrow{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}
.dsBackground{
    background-image: url("./../../assets/dsBackground.svg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 600px;
}
.dsBg{
    &_text{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        &_welcome{
            font-weight: normal;
            font-size: 55px;
        }
        &_description{
            font-weight: normal;
            font-size: 36px;
            width: 829px;
            text-align: center;
        }
        &_btn{
            width: 209px;
            height: 51px;
            background: #7762D2;
            border-radius: 5px;
            color: #fff;
            border: none;
            font-size: 24px;
            margin-top: 91px;
            cursor: pointer;
            text-decoration: none;
            outline: none !important;
        }
        &_pss{
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 18px;
            margin-bottom: 15px;
            margin-left: 100px;
        }
    }
}