.donate{
    &_layout{
        background-color: #3E3F41;
        display: 100%;
    }
    &_name{
        position: absolute;
        color: #fff;
        font-size: 35px;
        // font-family: Work Sans-400;
        font-weight: 400;
        width: 80%;
        display: flex;
        justify-content: center;
        left: 10%;
        top: -25%;
    }
    &_profit{
        position: absolute;
        color: #000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 10%;
        border-radius: 5px;
        left: 10%;
        top: -10%;
        font-family: Roboto-400;
        font-size: 20px;
    }
    &_title{
        font-size: 40px;
        // font-family: Work Sans-400;
        font-weight: 400;
        color: #fff;
        text-align: center;
        margin: 0;
        padding: 70px;
        margin-bottom: 50px;
    }
    &_blocks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 7% 0 7%;
        &_1 button:hover{
            color: #75D773;
            background-color: #fff;
        }
        &_2 button:hover{
            color: #D77373;
            background-color: #fff;
        }
        &_3 button:hover{
            color: #D7C773;
            background-color: #fff;
        }
    }
    &_blocks2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 7% 0 7%;
        margin-top: 100px;
        padding-bottom: 80px;
        &_4 button:hover{
            color: #29B6F6;
            background-color: #fff;
        }
        &_5 button:hover{
            color: #5C6BC0;
            background-color: #fff;
        }
    }
    &_block{
        position: relative;
        width: 260px;
        height: 450px;
        background-color: #75D773;
        border-radius: 10px;
        color: #fff;
        padding: 7px;
        &_title{
            font-family: Roboto-400;
            font-weight: 400;
            font-size: 22px;
            margin: 30px 0 0 23px;
        }
        &_price{
            width: 100%;
            display: flex;
            & p{
                font-family: Roboto-700;
                font-weight: 500;
                font-size: 35px;
                margin: 0 0 0 10%;
            }
            & span{
                font-family: Roboto-400;
                font-weight: 300;
                font-size: 21px;
                margin: -5px 0 0 16px;
            }
        }
        &_text{
            &_tick{
                font-family: Roboto-400;
                max-width: 100%;
                display: flex;
                margin: 0 15px 0 15px;
                & img{
                    width: 20px;
                    margin: 5px;
                }
                & p{
                    font-size: 18px;
                    margin-left: 15px;
                }
            }
        }
        &_buy{
            width: 100%;
            &_btn{
                position: absolute;
                background: none;
                color: #fff;
                font-weight: 500;
                font-size: 19px;
                padding: 1px;
                font-family: Roboto-700;
                border: 2.5px solid #FFF;
                box-sizing: border-box;
                border-radius: 7px;
                display: flex;
                text-align: center;
                justify-content: center;
                width: 80%;
                bottom: 5%;
                left: 10%;
                cursor: pointer;
                text-decoration: none;
                outline: none !important;
                transition: all .3s;
            }
        }
    }
}

@media screen and (min-width: 1600px){
    .donate_block{
        width: 300px
    }
}