.donate{
    &_layout{
        background-color: #3E3F41;
        display: 100%;
    }
    &_name{
        position: absolute;
        color: #fff;
        // font-size: 35px;
        font-size: 2.7vw;
        // font-family: Work Sans-400;
        font-weight: 400;
        width: 80%;
        display: flex;
        justify-content: center;
        left: 10%;
        top: -25%;
    }
    &_profit{
        position: absolute;
        color: #000;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 10%;
        // border-radius: 5px;
        border-radius: 0.43vw;
        left: 10%;
        top: -10%;
        font-family: Roboto-400;
        //font-size: 20px;
        font-size: 1.5vw;
}
    &_title{
        // font-size: 40px;
        font-size: 2.95vw;
        // font-family: Work Sans-400;
        font-weight: 400;
        color: #fff;
        text-align: center;
        margin: 0;
        // padding: 70px;
        padding: 5vw;
        // margin-bottom: 50px;
        margin-bottom: 3.7vw;
    }
    &_blocks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 7% 0 7%;
        &_1 button:hover{
            color: #75D773;
            background-color: #fff;
        }
        &_2 button:hover{
            color: #D77373;
            background-color: #fff;
        }
        &_3 button:hover{
            color: #D7C773;
            background-color: #fff;
        }
    }
    &_blocks2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 8% 7% 0 7%;
        padding-bottom: 6vw;
        &_4 button:hover{
            color: #29B6F6;
            background-color: #fff;
        }
        &_5 button:hover{
            color: #5C6BC0;
            background-color: #fff;
        }
    }
    &_block{
        position: relative;
        width: 19vw;
        height: 33vw;
        background-color: #75D773;
        // border-radius: 10px;
        border-radius: 0.7vw;
        color: #fff;
        padding: 0.55vw;
        &_title{
            font-family: Roboto-400;
            font-weight: 400;
            font-size: 1.6vw;
            margin: 2.25vw 0 0 1.7vw;
        }
        &_price{
            width: 100%;
            display: flex;
            & p{
                font-family: Roboto-700;
                font-weight: 500;
                // font-size: 35px;
                font-size: 2.6vw;
                margin: 0 0 0 10%;
            }
            & span{
                font-family: Roboto-400;
                font-weight: 300;
                font-size: 1.5vw;
                margin: -0.37vw 0 0 1.15vw;
            }
        }
        &_text{
            &_tick{
                font-family: Roboto-400;
                max-width: 100%;
                display: flex;
                margin: 0 1.1vw 0 1.1vw;
                & img{
                    width: 1.46vw;
                    margin: 0.37vw;
                }
                & p{
                    font-size: 1.33vw;
                    margin-left: 1vw;
                }
            }
        }
        &_buy{
            width: 100%;
            &_btn{
                position: absolute;
                background: none;
                color: #fff;
                font-weight: 500;
                font-size: 1.4vw;
                //padding: 1px;
                padding: 0.08vw;
                font-family: Roboto-700;
                //border: 2.5px solid #FFF;
                border: 0.2vw solid #fff;
                box-sizing: border-box;
                // border-radius: 7px;
                border-radius: 0.5vw;
                display: flex;
                text-align: center;
                justify-content: center;
                width: 80%;
                bottom: 5%;
                left: 10%;
                cursor: pointer;
                text-decoration: none;
                outline: none !important;
                transition: all .3s;
}
        }
    }
}
