.header{
    &_layout{
        margin: 0 60px 20px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo{
    display: flex;
    align-items: center;
    font-family: Work Sans-700;
    &_title{
        font-weight: 700;
        font-size: 30px;
        color: #fff;
        margin-left: 15px;
        cursor: pointer;
    }
    &_img{
        width: 63,78px;
        height: 60px;
        cursor: pointer;
    }
}
.signIn{
    display: flex;
    align-items: center;
    cursor: pointer;
    &_title{
        // font-family: Spartan-700;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        margin-left: 6px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        display: table;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #FBFDFF;
            transform-origin: bottom center;
            transition: all 0.5s ease-out;
        }
        &:hover::before{
            transform: scaleX(1);
            transform-origin: bottom center;
        }  
    }
}