@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@100;400;500;&display=swap');
.app{
    margin: 0 auto;
    max-width: 1920px;
    max-height: 1080px;
}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    margin: 0;
}
